/*root*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General style*/
body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 2em 1em;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /*min-height: 100vh;*/
    color: yellow;
    background: rgb(9, 4, 50);

}

/*Header*/
a {
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 2px;
    min-width: fit-content;
    margin: 3rem;
    padding: 0.5em;
    border-radius: 20%;
    color: black;
    text-transform: uppercase;
    border: solid magenta 0.3em;
    cursor: pointer;
    background-color: yellow;
    transition: background-color 0.5s ease;
}

a:hover {
    color: yellow;
    background: magenta;
    border: solid yellow 0.3em;
    font-size: 1.1rem;
    margin: auto;
    padding: 0.5em;
}

/*Main content - Game board*/
main {
    /*make main content take up any surplus space to push footer down*/
    flex: 1 0 auto;
}


h1 {
    font-size: 5em;
    margin-top: 1em;
    margin-bottom: 0.3em;
    letter-spacing: 10px;
}

h2 {
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#gameboard {
    box-sizing: border-box;
    width: 85%;
    max-width: 830px;
    margin: auto;
    padding: 1%;
}

#holder {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

#holder button {
    font-size: 3.2rem;
    min-width: 120px;
    min-height: 120px;
    margin: auto;
    border-radius: 50%;
    background-color: yellow;
    border: 0.2em solid rgb(9, 4, 50);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#holder button:hover {
    background: magenta;
    border: solid yellow 0.2em;
    font-size: 3.1rem;
}

#displayContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3em 0em 1em 0em;
}

#playerDisplay {
    font-size: 2.5rem;
    color: magenta;
    margin: auto;
    padding: 1rem;
    text-transform: uppercase;

}

#computerDisplay {
    font-size: 2.5em;
    color: aqua;
    margin: auto;
    padding: 1rem;
    text-transform: uppercase;
}

#resultContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

}

#resultDisplay {
    font-size: 2.5em;
    margin: auto;
    padding: 1rem;
    text-transform: uppercase;
}

#scoreContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3em;
}

.scoreDisplay {
    font-size: 2.5em;
    margin: auto;
    padding: 1rem;
    text-transform: uppercase;
    border: solid yellow 0.2em;
}


#overallWinnerDisplay {
    font-size: 2.5em;
    margin-bottom: auto;

    padding: 1rem;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0.5em;
}

#playAgain {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    text-transform: uppercase;
    border: 0.3em solid magenta;
    color: rgb(9, 4, 50);
    background: yellow;
    min-width: fit-content;
    margin: auto;
    padding: 1em;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-bottom: 3em;
    letter-spacing: 2px;
}

#playAgain:hover {
    font-size: 1.2em;
    border: 0.3em solid yellow;
    color: yellow;
    background: magenta;
}

.magentawinText {
    color: rgb(2, 163, 2);
    border-radius: 20%;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.aqualoseText {
    color: red;
    border-radius: 20%;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.magentaText {
    color: magenta;
}

.aquaText {
    color: aqua;

}

#rules {

    font-size: 1.6rem;
    color: rgb(9, 4, 50);
    max-width: 85%;
    margin: 0.1em 0.3em 0.1em 1.5em;
    background-color: yellow;
    text-align: left;
    letter-spacing: 0.1em;
}

footer {
    color: rgb(9, 4, 50);
    background: yellow;
    text-align: left;
    padding: 1rem;
}

/* Media queries */

@media (max-width: 414px) {

    body {
        margin: 2em 0.5em 0.5em 0.5em;
    }

    a {
        margin: auto;
    }

    a:hover {
        color: yellow;
        background: magenta;
        border: solid yellow 0.3em;
        font-size: 1.1rem;
        margin: auto;
        padding: 0.5em;
    }

    #holder {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 1em;
    }

    #holder button {
        font-size: 3em;
        min-width: fit-content;
        min-height: 100%;
        margin: auto;
        padding: 0.5em;
        border-radius: 50%;
        background-color: yellow;
        border: 0.2em solid rgb(9, 4, 50);
        cursor: pointer;
        transition: background-color 0.5s ease;
    }

    #holder button:hover {
        background: magenta;
        border: solid yellow 0.2em;
        font-size: 3.1rem;
    }

    #displayContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 2em 0em 1em 0em;
    }
}

#resultDisplay {
    margin-bottom: 0.5em;

}

h2 {
    font-size: 1.6em;
    margin-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 10px;
}

#rules {
    font-size: 1.2em;
    color: rgb(9, 4, 50);
    margin: 0.1em 0.3em 0.1em 1.5em;
    background-color: yellow;
    text-align: left;
    letter-spacing: 0.1em;
}

@media (max-width: 320px) {
    body {
        margin: 2em 0.5em 0.5em 0.5em;
    }

    a {
        margin: auto;
    }

    a:hover {
        color: yellow;
        background: magenta;
        border: solid yellow 0.3em;
        font-size: 1.1rem;
        margin: auto;
        padding: 0.5em;
    }

    #holder {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 1em;
    }

    #holder button {
        font-size: 2.5em;
        min-width: fit-content;
        min-height: 100%;
        margin: auto;
        padding: 0.5em;
        border-radius: 50%;
        background-color: yellow;
        border: 0.2em solid rgb(9, 4, 50);
        cursor: pointer;
        transition: background-color 0.5s ease;
    }

    #holder button:hover {
        background: magenta;
        border: solid yellow 0.2em;
        font-size: 2.4em;
    }

    #displayContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 2em 0em 1em 0em;
    }
}

#resultDisplay {
    margin-bottom: 0.5em;

}

h2 {
    font-size: 1.6em;
    margin-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 10px;
}

#rules {
    font-size: 1.2em;
    color: rgb(9, 4, 50);
    margin: 0.1em 0.3em 0.1em 1.5em;
    background-color: yellow;
    text-align: left;
    letter-spacing: 0.1em;
}