/*root*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General style*/
body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: yellow;
    background: rgb(9, 4, 50);
}

/*Header*/


/*Main content - Game board*/
main {
    /*make main content take up any surplus space to push footer down*/
    flex: 1 0 auto;
}

h1 {
    font-size: 5rem;
    margin-top: 60px;
    margin-bottom: 30px;
    letter-spacing: 10px;
}

#gameboard {
    box-sizing: border-box;
    width: 85%;
    max-width: 830px;
    margin: auto;
    padding: 1%;
}


footer {
    color: rgb(9, 4, 50);
    background: yellow;
}